/*root styling*/
html {
  font-size: 16px;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

/* Style for buttons */
button {
  padding: 0.67rem 1rem;
  background-color: #1c5a8d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #023d77;
}

/* Header Styles */
h1 {
  background-color: #1c5a8d;
  color: white;
  padding: 1.5rem;
  margin-top: 0;
  text-align: center;
}

/* Form Styles */
.form-container {
  font-size: 0.95rem;
  border-bottom: 1px solid #333;
  padding: 0 0.67rem;
}

.form-title {
  margin-bottom: 0.25rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0;
  gap: 0.67rem;
}

.form-input {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

label {
  font-weight: bold;
  text-align: left;
}

/* Style for inputs */
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.book-rating-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.67rem;
}

.book-rating-input input[type="number"] {
  width: 30%;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus,
input[type="text"]:hover,
select:hover,
input[type="number"]:hover,
input[type="number"]:focus {
  outline: none;
  border-color: #1c5a8d;
  box-shadow: 0 2px 6px rgba(28, 90, 141, 0.3),
    0 6px 12px rgba(28, 90, 141, 0.15);
}

input::placeholder {
  color: #595959;
}

.add-book-btn {
  font-size: 1.1rem;
}

/* Booklist Styles */
.bookshelf-container {
  list-style: none;
  padding: 0 0.67rem;
  font-size: 0.95rem;
}

/* Book container styling */
.book {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  margin-bottom: 0.67rem;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0.5rem 0;
  gap: 1rem;
}

.book-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.book-author {
  font-size: 0.9rem;
  color: #444;
  margin: 0;
}

.book-genre {
  font-style: italic;
  font-size: 0.9rem;
  margin: 0.3rem 0;
  text-align: left;
}

.book-rating {
  margin: 0.5rem 0;
}

.read {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.not-read {
  font-size: 1.05rem;
  font-style: italic;
  text-align: center;
  margin: 1rem 0;
}

/*Chatbot Styles*/
#chatbot-container {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#chat-history {
  height: 200px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
}

#chat-input {
  width: calc(100% - 60px);
  padding: 5px;
  margin-right: 5px;
}

#send-btn {
  padding: 5px 10px;
  cursor: pointer;
}

.history {
  padding-bottom: 15px;
}

/* Queries */
@media (min-width: 600px) {
  .container {
    max-width: 33rem;
  }

  .form-container,
  .bookshelf-container {
    font-size: 1rem;
  }

  input[type="text"],
  select,
  input[type="number"] {
    padding: 12px;
  }

  .book-title {
    font-size: 1.4rem;
  }

  .book-author,
  .book-genre {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .form-container,
  .bookshelf-container {
    max-width: 500px;
    flex: 1 1 0;
  }

  .form-container {
    border: none;
  }
}
